<div>

  <form [formGroup]="stdForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="id">ID</label>
      <input formControlName="id" id="'id" type="text">
    </div>
    <div>
      <label for="name">Name</label>
      <input formControlName="name" id="'name" type="text">
    </div>
    <div>
      <label for="standerd">Standerd</label>
      <input formControlName="standerd" id="'standerd" type="text">
    </div>
    <div>
      <button *ngIf="id=='';" type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button>
      <button *ngIf="id!='';" type="button" (click)="onUpdate()" class="btn btn-warning">Update</button>
    </div>
  </form>

  <div>
    <app-student-list (stdValue)="updateStd($event)"></app-student-list>
  </div>

</div>
