<main class="main_container">
  <nav class="navbar">
    <h1>Portfolio.</h1>
  </nav>
  <aside class="sidebar">
    <img src="../assets/Images/icon2.png" alt="User Image" width="70%">
    <h1 style="color: aliceblue; padding: 10%;">Vikas B. Rathod</h1>
    <a href="#name" class="info-btn"><div >Name & details</div></a>
    <a href="#contact" class="info-btn"><div >Objective</div></a>
    <a href="#education" class="info-btn"><div >Education</div></a>
    <a href="#skills" class="info-btn"><div>Skills</div></a>
  </aside>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>